# Bazel configuration
.bazelrc

# Artifacts
dist/
bazel-*
*.log
*.tgz
.installed.cfg
env/
_site/

## Node artifacts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.node_repl_history
.yarn-integrity
.eslintcache
**/node_modules/

## Chrome artifacts
*.crx

## Python artifacts
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Sensitive files
.env
*.pem

# Temporary files
.DS_Store
.ropeproject
