.container {
  width: 1200px;
  margin: 0 auto;
}

.content {
  margin-top: 20px;
}

.rythmed {
  margin-top: 15px;
  margin-bottom: 15px;
}

.clickable:hover {
  cursor: pointer;
}

h1 .pt-text-muted, h2 .pt-text-muted, h3 .pt-text-muted {
  margin-left: 15px;
  font-size: 0.5em;
}

.attr-row {
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
}

.attr-name {
  float: left;
  font-weight: bold;
  width: 200px;
}

.attr-value {
  float: left;
}
